<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookings</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="dashboard-body">

<div class="sidebar">

    <h2>Pariwar</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/rooms">Rooms</a>
    <a href="/bookings">Bookings</a>
    <a href="/admin/restaurant">Restaurant Orders</a>
    <a href="/services">Services</a>

</div>

<div class="main-content">

    <div class="topbar">
        <h1>Bookings</h1>
    </div>

    <div class="cards">

        <div class="dashboard-card">
            <h2>Room Bookings</h2>
            <p>Manage all customer bookings and reservations.</p>
        </div>

        <div class="dashboard-card">
            <h2>Upcoming Check-Ins</h2>
            <p>Track upcoming arrivals and room schedules.</p>
        </div>

    </div>

</div>

</body>
</html>
