<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Rooms</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body class="dashboard-body">

<div class="sidebar">

    <h2>Pariwar</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/rooms">Manage Rooms</a>

</div>

<div class="main-content">

    <div class="topbar">

        <h1>Room Management</h1>

        <a href="/rooms/add" class="add-btn" th:if="${isAdmin}">
            Add Room
        </a>

    </div>

    <table>

        <thead>

        <tr>

            <th>ID</th>
            <th>Room</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="room : ${rooms}">

            <td th:text="${room.id}"></td>

            <td>
                <div class="room-card">
                    <img th:src="${room.imageUrl != null and room.imageUrl != '' ? room.imageUrl : 'https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=800&auto=format&fit=crop'}" alt="Room Image">
                    <div>
                        <strong th:text="${room.roomNumber}"></strong>
                    </div>
                </div>
            </td>

            <td th:text="${room.roomType}"></td>

            <td th:text="${room.description}"></td>

            <td th:text="${room.price}"></td>

            <td th:text="${room.status}"></td>

            <td>
                <span th:if="${isAdmin}">
                    <a th:href="@{/rooms/edit/{id}(id=${room.id})}">Edit</a>
                    <a th:href="@{/rooms/delete/{id}(id=${room.id})}">Delete</a>
                </span>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>
